#cart_num_item{
    height: 22px;
    background: orangered;
    border-style: none;
    border-radius: 30px;
    margin-top: 2px;
    /*color: red;*/
}
.shopping-cart{
    margin: 10px 10px;
    font-size: 16px;
    color: white;
    border-style: solid;
    border-radius: 2px;
    cursor: pointer;
}
.frm-search .input-group{
    width: 100%;
    top: 10px;
}
.top-nav > div{
    display:inline-block;
}
.cp-icon{
    color: red;
    font-size: 48px;
}
.header-nav{
    background-color: #189eff;
    opacity: 0.9;
}
.top-header .container>div{
}
.top-header{
    height: 80px;
}